<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016775004127-kgmkiuhn0ergsbl70k9io60rc50bjdve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016775004127-kgmkiuhn0ergsbl70k9io60rc50bjdve</string>
	<key>API_KEY</key>
	<string>AIzaSyCT41qvJkXNU-uhLq7pV5RYazolAdXbrgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1016775004127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.apheria.apheria</string>
	<key>PROJECT_ID</key>
	<string>britt-s-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>britt-s-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016775004127:ios:4059a02903fabc753b3e6a</string>
	<key>DATABASE_URL</key>
	<string>https://britt-s-apps-default-rtdb.firebaseio.com</string>
</dict>
</plist>